.login_btn {
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(126, 217, 87);
  color: #fff;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 0 20px 0 auto;
  cursor: pointer;
}

#offre {
  display: flex;
  justify-content: space-evenly;
  background-color: lightgreen;
  padding: 30px;
  background: url("assets/background-green.jpeg");
  align-items: center;
}

.offre_titre {
  font-size: 40px;
  margin-bottom: 20px;
}

.offre_txt {
  margin-bottom: 10px;
}

.offre_gauche_btn {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  margin-top: 10px;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.offre_gauche_btn:hover {
  background-color: #fff;
  color: #000;
}

.offre_droite img {
  height: 400px;
  width: auto;
}

/* ---------- Section Cours dispo ---------- */

.cours_dispo {
  text-align: center;
}

.cours_dispo_titre {
  font-size: 30px;
  margin: 20px;
}

.cours_dispo_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cours_dispo_carte {
  display: block;
  width: 290px;
  height: 440px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.cours_dispo_carte.selected {
  box-sizing: content-box;
  border: solid 8px green;
}

.cours_dispo_carte img {
  width: 290px;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.carte_cont {
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: space-around;
}

.carte_titre {
  font-size: 20px;
  margin: 10px;
}

.carte_sous-titre {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
}

.carte_txt {
  line-height: 25px;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 0 20px;
}

.carte_btn {
  display: block;
  text-decoration: none;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  margin: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.cours_selected {
  margin: 30px;
  font-size: 30px;
}

/* ---------- login ---------- */

.modale {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modale.active {
  display: block;
}

.modale_form {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 20px 80px;
}

.modale_form legend {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.modale_form label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.modale input {
  border: solid 1px #666;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 20px;
}
