*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background: #f1f1f1;
}

/* ----------- Header ----------- */

header {
  display: flex;
  flex-direction: row;
  background-color: #1a1a1a;
  height: 85px;
  align-items: center;
}

.logo {
  display: inline;
  height: 85px;
  width: auto;
  color: #fff;
  font-family: open sans, Arial, Helvetica, sans-serif;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-left: 80px;
}

nav ul li a {
  text-decoration: none;
  font-size: 30px;
  color: #a6a6a6;
  text-align: center;
  line-height: 50px;
  margin: 0 40px;
  cursor: pointer;
}

nav ul li:nth-child(2) {
  background-color: rgb(126, 217, 87);
}

nav ul li a:hover {
  color: #fff;
}

/* ----------- Section Accueil ----------- */

#accueil {
  text-align: center;
  background-color: #000;
  color: #fff;
}

.accueil_logo {
  height: 150px;
  margin: 10px;
}

.accueil_titre {
  font-size: 34px;
  margin: 10px 0 20px;
}

.accueil_txt {
  font-size: 26px;
  margin: 10px;
}

.accueil_btn {
  text-decoration: none;
  font-size: 26px;
  background-color: #fff;
  margin: 20px;
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.accueil_btn:hover {
  color: #fff;
  background-color: #000;
  border: solid 3px #fff;
}

.chevron::before {
  content: "";
  display: inline-block;
  border-style: solid;
  height: 45px;
  width: 45px;
  border-width: 10px 10px 0 0;
  transform: rotate(135deg);
  margin: 10px 0 30px;
}
.chevron {
  transform: translateY(0);
  animation: bounce 1s ease-out infinite;
}

@keyframes bounce {
  0%,
  50% {
    transform: translateY(-15%);
  }
  50%,
  100% {
    transform: translateY(10%);
  }
}

/* ----------- Section Prez ----------- */

#prez {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #555;
  color: #fff;
  background: url("assets/background-blue.png");
  background-size: 20px 20px;
}

.prez_titre {
  font-size: 45px;
  margin: 40px;
}

.prez_container {
  margin: 0 auto 100px;
  width: 600px;
  background: #15171a;
  border-radius: 5px;
  padding: 10px 0 40px;
}

.prez_container_top {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 10px;
}

.prez_container_top-gauche .dot {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #aaa;
  margin-right: 5px;
}

.prez_container_txt {
  background-color: #000;
  text-align: left;
  padding: 5px;
}
