*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background: #f1f1f1;
}

/* ----------- Header ----------- */

header {
  display: flex;
  flex-direction: row;
  background-color: #1a1a1a;
  height: 85px;
  align-items: center;
}

.logo {
  display: inline;
  height: 85px;
  width: auto;
  color: #fff;
  font-family: open sans, Arial, Helvetica, sans-serif;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-left: 80px;
}

nav ul li a {
  text-decoration: none;
  font-size: 30px;
  color: #a6a6a6;
  text-align: center;
  line-height: 50px;
  margin: 0 40px;
  cursor: pointer;
}

nav ul li:nth-child(2) {
  background-color: rgb(126, 217, 87);
}

nav ul li a:hover {
  color: #fff;
}

/* ----------- Section Accueil ----------- */

#accueil {
  text-align: center;
  background-color: #000;
  color: #fff;
}

.accueil_logo {
  height: 150px;
  margin: 10px;
}

.accueil_titre {
  font-size: 34px;
  margin: 10px 0 20px;
}

.accueil_txt {
  font-size: 26px;
  margin: 10px;
}

.accueil_btn {
  text-decoration: none;
  font-size: 26px;
  background-color: #fff;
  margin: 20px;
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.accueil_btn:hover {
  color: #fff;
  background-color: #000;
  border: solid 3px #fff;
}

.chevron::before {
  content: "";
  display: inline-block;
  border-style: solid;
  height: 45px;
  width: 45px;
  border-width: 10px 10px 0 0;
  transform: rotate(135deg);
  margin: 10px 0 30px;
}
.chevron {
  transform: translateY(0px);
  animation: bounce 1s ease-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(10%);
  }
}

/* ----------- Section Prez ----------- */

#prez {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #555;
  color: #fff;
  background: url("assets/background-blue.png");
  background-size: 20px 20px;
}

.prez_titre {
  font-size: 45px;
  margin: 40px;
}

.prez_container {
  margin: 0 auto 100px;
  width: 600px;
  background: #15171a;
  border-radius: 5px;
  padding: 10px 0 40px;
  box-shadow: 5px 5px 5px #15171a;
}

.prez_container_top {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 10px;
}

.prez_container_top-gauche .dot {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #aaa;
  margin-right: 5px;
}

.prez_container_txt {
  background-color: #000;
  text-align: left;
  padding: 5px;
}

/* ----------- Section Cours ----------- */

#cours {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
  align-items: center;
}

.cours_titre {
  font-size: 70px;
  margin: 40px;
}

.cours_sous-titre {
  font-weight: 400;
  font-size: 40px;
}

.cours_container {
  display: flex;
  width: 900px;
  flex-wrap: wrap;
}

.cours_carte {
  display: flex;
  width: 360px;
  height: 110px;
  margin: 20px;
  padding: 15px 0 30px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.cours_carte-top::before {
  content: "cours";
  position: relative;
  top: -10px;
  left: -140px;
  background-color: #e74c3c;
  color: #fff;
  font-size: 14px;
  padding: 2px 10px;

  border-radius: 999px;
}

.cours_carte_corps {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.cours_carte_corps-img {
  height: 75px;
  width: auto;
}

.cours_carte_corps_cont {
  text-align: left;
  padding: 10px;
}

.cours_carte_corps-titre {
  font-size: 16px;
  margin-bottom: 5px;
}

.cours_carte_corps-txt {
  font-size: 12px;
}

.cours_btn {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  background-color: #2f2f2f;
  color: #fff;
  margin: 20px;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cours_btn:hover {
  color: #2f2f2f;
  background-color: #fff;
  border: solid 3px #2f2f2f;
}

/* ----------- Section Ressources ----------- */

#ressources {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #555;
  color: #fff;
  background: url("assets/background-blue.png");
  background-size: 30px 30px;
  padding: 50px;
}

.ressources_titre {
  font-size: 70px;
}

.ressources_txt {
  font-size: 26px;
  margin-bottom: 20px;
}

.ressources_container {
  display: flex;
  justify-content: center;
}

.ressources_elem {
  margin: 0 20px;
}

.ressources_elem-img {
  height: 120px;
  width: auto;
  color: #fff;
}

.ressources_elem-titre {
  font-size: 25px;
  font-weight: 400;
  margin: 5px;
}

.ressources_elem-txt {
  font-size: 14px;
}

/* ----------- Section Blog ----------- */

#blog {
  text-align: center;
  background-color: #2f2f2f;
  color: #fff;
  padding: 30px;
}

.blog_titre {
  font-size: 50px;
  margin-bottom: 20px;
}

.blog_logo {
  height: 80px;
  width: auto;
}

.slider {
  margin: 50px;
}

.slider_img {
  margin: 0 15px;
}

.blog_txt {
  font-weight: bold;
  font-size: 18px;
}

.blog_btn {
  text-decoration: none;
  font-size: 26px;
  background-color: #fff;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.blog_btn:hover {
  color: #fff;
  background-color: #000;
  border: solid 3px #fff;
}

.blog_txt-ita {
  font-size: 14px;
  font-style: italic;
}
